<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}} - Démo</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    {{content}}
  </body>
</html>
